@import "reset.css";
@font-face {
    font-family: "ACCchildrenheart";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

body {
    font-family: "ACCchildrenheart", "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.canvas {
    width: 700px;
    height: 700px;
    background-color: rgb(248, 239, 222);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
    margin-top: 80px;
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0% 100% 40% 60% / 0% 60% 40% 100%;
    cursor: pointer;
}
